<!-- <div class="row-one"> -->
    <!-- <div class="container-padding">
        r1c1
    </div>
    <div (mouseleave)="resetGreeting()" (mouseenter)="showGreeting()" id="r1c2" class="container-padding">
        {{greeting}}
    </div>
    <div class="container-padding">
        r1c3
    </div> -->
<!-- </div> -->
<mat-toolbar color="basic">
    <div class="row-one">
        <div class="container-padding">
            <span>r1c1 </span>
        </div>
        <div id="r1c2" class="container-padding">
            <button (click)="navigateTo('')" class="nav-buttons" type="button" mat-raised-button color="light">
                Home
            </button>
            <button (click)="navigateTo('courses')" class="nav-buttons" type="button" mat-raised-button color="primary" (click)="saveStudent()">
                    Courses
                </button>
        </div>
        <div class="container-padding">
            r1c3
        </div>
    </div>
</mat-toolbar>